.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-colum{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-end{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
nav a{
  margin: 5px;
}
.caption h3{
  font-family: Roboto-Regular;
  margin-top: 0px;
}
#eventos {
  padding: 50px 0;
}
.thumbnail {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
  padding: 0px;
}
.caption{
  background-color: #F5f5f5;
}
.aesa1{
  background-image: url(../img/aesa1.jpg);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.aesa2{
  background-image: url(../img/aesa2.jpg);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.bg-img-1{
  background-image: url(../img/costura.jpg);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.bg-img{
  background-image: url(../img/denta.1.jpg);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.bg-img-3{
  background-image: url(../img/cortedecabello.jpg);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.bg-img-4{
  background-image: url(../img/vacunacion.png);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.bg-img-4{
  background-image: url(../img/lectura.jpeg);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.bg-img-5{
  background-image: url(../img/pintar.jpg);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.bg-img-aesa{
  background-size: cover;
  height: 300px;
  background-position: center;
}
.bg-img-5{
  background-image: url(../img/aesa1.jpg);
}
.bg-img-6{
  background-image: url(../img/aesa2.jpg);
}
.btn.btn-default-2 {
  background-color: #008FB5;
  border: #008FB5;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  padding: 6px 40px;
  border-radius: 50px;
  font-family: Roboto-Light;
  font-size: 16px;
}
.btn.btn-default-back {
  background-color: #008FB5;
  border: #008FB5;
  border-radius: 0;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  padding: 6px 46px;
  font-family: Roboto-Light;
  font-size: 16px;
}
.fixed {
  position: fixed;
  z-index: 1;
  bottom: 15px;
  right: 15px;
}
